body {
    margin: 0;
    padding: 0;
}

/* 상단 메뉴 전체 */
header {
    border-bottom: 1px solid rgb(240, 240, 240);
    width: 100%;
    height: 72px;
}

.header-top {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* 상단 로고, 네비게이션 */
.top-left ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 370px;
}

.top-left li {
    list-style: none;
}

.logo img {
    width: 80px;
}

.nav a {
    font-size: 15px;
    font-weight: 550;
    text-decoration-line: none;
}

.nav a:visited {
    color: black;
}

/* 상단 가운데 검색창 */
.top-middle form {
    width: 250px;
    height: 40px;
    border-radius: 6px;
    background-color: #f4f4f4;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0.75rem;
}

.icon {
    display: flex;
    background-color: transparent;
    border: none;
    margin: 0;
    cursor: pointer;
}

.input {
    border: none;
    padding: 0;
    background-color: #f4f4f4;
    margin: 0 5px;
    font-weight: 550;
}

.input::placeholder {
    color: #cacaca;
    font-size: .845rem;
}

/* 상단 오른쪽 로그인 */
.top-right {
    display: flex;
    align-items: center;
}

.top-right ul {
    display: flex;
    margin: 0 10px;
    padding: 0;
    line-height: 44px;
}

.login,
.join {
    list-style: none;
    font-size: 14px;
    margin: 0 10px;
}

.top-right ul li a {
    text-decoration-line: none;
}

.login a:visited,
.join a:visited {
    color: black;
}

.gosu-join {
    border-radius: 6px;
    border: none;
    width: 80px;
    height: 40px;
    background-color: #00c7ae;
}

.gosu-join:hover {
    background-color: #00a18d;
    border-color: #009481;
}

.gosu-join a {
    color: white;
    text-decoration-line: none;
    font-size: 14px;
    font-weight: 600;
}

.gosu-join a:visited {
    color: white;
}

/* banner */
.banner {
    width: 970px;
    height: 280px;
    display: flex;
    border-radius: 5px;
    margin: 15px auto;

    overflow: hidden;
    position: relative;
}

.banner-box {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    position: absolute;
    left: 0px;
}

li {
    list-style: none;
}

.banner-img {
    width: 970px;
    height: 280px;
}

.prev,
.next {
    position: absolute;
    font-size: 30px;
    font-weight: 100;
    top: 110px;
    line-height: 30px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: transparent;
    color: transparent;
    border: none;
    border-radius: 50%;
    text-align: center;
}

.next:hover,
.prev:hover {
    background-color: rgba(0, 0, 0, 0.15);
    color: rgb(245, 245, 245);
}


.prev {
    left: 15px;
}

.next{
    right: 15px;
}